body {
	margin-top: 50px
}

#wrapper {
	background-color: #fff;
	position: relative
}

.alignleft {
	float: left;
	margin: 0 1em 1em 0
}
.alignright {
	float: right;
	margin: 0 0 1em 1em
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}

label.required:after, label.required::after {
	content: " *"
}

header {
	background-color: #337ab7;
}

header #masthead {
	padding: 2em 70px 2em 0;
	background: url(img/rabbit.png) no-repeat right center
}
header #blog-title {
	color: #fff;
	text-decoration: none;
	font-size: 48px;
	line-height: 48px;
	padding-right: 20px;
	margin: 0;
	font-weight: bold;
	display: inline-block;
	vertical-align: text-bottom
}
header #blog-description {
	display: inline-block;
	vertical-align: text-bottom;
	font-size: 30px;
	line-height: 30px;
	margin: 0;
	font-weight: bold;
	color: #ccc;
}

section{margin:2em 0}
section #content{margin-right:auto;margin-left:auto;*zoom:1}
section #content:before,section #content:after{display:table;content:"";line-height:0}
section #content:after{clear:both}
section .post{margin-bottom:2em}
section .entry-content,section .entry-summary{margin:1em 0 0 0}
section .entry-meta{font-weight:bold}
section h1{color:#164aaa;margin:0 0 .5em}
section h2{margin:.5em 0}
section p.entry-commands{text-align:right}
section .comments-list{list-style:none;margin-left:0}
section .comments-list ul.children{list-style:none}
section .comments-list .comment-wrapper{*zoom:1}
section .comments-list .comment-wrapper:before,section .comments-list .comment-wrapper:after{display:table;content:"";line-height:0}
section .comments-list .comment-wrapper:after{clear:both}
section .comments-list .comment-author{float:left;text-align:center;margin:0 20px 0 0}
section .comments-list .comment-author img.photo{display:block}
section .comments-list .comment-meta{font-size:11px}

footer{width:100%;color:#333;padding:1em 0;text-align:center}